<h1>Make your form here</h1>
<form method = 'POST' action = '/pirates'>
  <label for="pirate_name">Name</label>
  <input type="text" id= "pirate_name" name = "pirate[name]">
  <label for="pirate_weight">Weight</label>
  <input type="text" id="pirate_weight" name= "pirate[weight]">
  <label for ="pirate_height">Height</label>
  <input type="text" id="pirate_height" name ="pirate[height]">
  
  <label for="name">1st Ship's Name</label>
  <input type="text" id="ship_name_1" name= "pirate[ships][][name]">
  <label for="name">1st Ship's Type</label>
  <input type="text" id="ship_type_1" name= "pirate[ships][][type]">
  <label for="name">1st Ship's Booty</label>
  <input type="text" id="ship_booty_1" name= "pirate[ships][][booty]">
  
  <label for="name">2nd Ship's Name</label>
  <input type="text" id="ship_name_2" name= "pirate[ships][][name]">
  <label for="name">2nd Ship's Type</label>
  <input type="text" id="ship_type_2" name= "pirate[ships][][type]">
  <label for="name">2nd Ship's Booty</label>
  <input type="text" id="ship_booty_2" name= "pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form> 
